.section {
  display: flex;
  flex-direction: column;
  max-width: var(--main-container);
  margin: 100px auto;
  padding: 50px;
}

@media (max-width: 650px) {
  .section {
    margin: 50px auto;
  }
}

.span {
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 650px) {
  .span {
    text-align: center;
  }
}

.main {
  margin-top: 25px;
}

.details {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}
