.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--main-container);
  height: var(--main-height);
  margin: 0 auto;
  padding: 15px;
}

@media (max-width: 650px) {
  .header {
    flex-direction: column-reverse;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}

@media (max-width: 650px) {
  .main button {
    margin-top: 25px;
  }
}

.image {
  height: 350px;
  width: 450px;
  background-color: rgb(211, 211, 211);
}

@media (max-width: 650px) {
  .image {
    margin-bottom: 15px;
  }
}
