.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--main-container);
  height: var(--main-height);
  margin: 0 auto;
  padding: 15px;
}

.background {
  background: rgb(11, 13, 106);
  background: linear-gradient(
    123deg,
    rgba(11, 13, 106, 1) 43%,
    rgba(13, 13, 157, 1) 77%
  );
}

@media (max-width: 650px) {
  .header {
    flex-direction: column-reverse;
    height: 800px;
    padding: 50px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}

@media (max-width: 650px) {
  .main button {
    margin-top: 25px;
  }
}

.image {
  height: 350px;
  width: 350px;
}

@media (max-width: 650px) {
  .image {
    margin-bottom: 15px;
  }
}

.h1 {
  color: var(--main-text-color);
  max-width: 550px;
}

.h2 {
  color: var(--second-text-color);
  max-width: 450px;
  font-weight: 400;
  margin-top: 10px;
}
