:root {
  --main-text-color: #f0f0f0;
  --second-text-color: #e9e9e9;
  --main-bg-color: #fff;
  --second-bg-color: #f7f7f7;
  --main-theme-color: #fff;
  --second-theme-color: #fff;
  --main-btn-color: #f8913d;
}
