.footer {
  max-width: var(--main-container);
  margin: 25px auto;
  text-align: center;
  padding: 25px;
}

.header {
  margin: 15px 0;
}

.title {
  font-weight: bold;
}

.main {
  margin: 15px 0;
}
